body {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}
/*-----------COMMONLY USED CLASSES--------------*/
.item {
	margin-top: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
	line-height: 150%;
	text-align: center;
	width: 75%;
	font-size: 20px;
	margin: 0 auto;
}

.title {
	font-size: 2em;
	margin: 2%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.special {
	font-style: italic;
	/*color: #44d9b4;*/
}

/*-----------INTRO----------------*/

.intro {
	width: 100%;
	background-image: url("../img/penguin.jpg");
	background-position: 20%;
	height: 50.25rem;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}

.text {
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
	width: 75%;
}

.greetings {
	font-family: 'Lobster Two', cursive;	
	font-size: 5em;
	padding-top: 10% ;
}

.name {
	font-family: 'Lobster Two', cursive;	
	font-size: 3em;
	font-style: italic;
	margin-bottom: 2%;
}

.description {
	width: 90%;
	margin-top: 2%;
	padding-top: 2%;
	line-height: 150%;
	text-align: center;
	margin: 0 auto;
}

/*------SOCIAL BUTTONS-------*/
.social {
	width: 100%;
	margin: 0 auto;
	margin-top: 2%;
	text-align: center;
}
.social-buttons li {
	display: inline;
}

.social-buttons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px;
	vertical-align: middle;
	-o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
}

.github {
	background: url(../img/social-icons/github.png);
}

.github:hover {
	background: url(../img/social-icons/github1.png);
}

.twitter {
	background: url(../img/social-icons/twitter.png);
}

.twitter:hover {
	background: url(../img/social-icons/twitter1.png);
}
.linkedin {
	background: url(../img/social-icons/linkedin.png);
}

.linkedin:hover {
	background: url(../img/social-icons/linkedin1.png);
}

.tumblr {
	background: url(../img/social-icons/tumblr.png);
}

.tumblr:hover {
	background: url(../img/social-icons/tumblr1.png);
}

.google {
	background: url(../img/social-icons/google.png);
}

.google:hover {
	background: url(../img/social-icons/google1.png);
}

/*------------ABOUT ME------------*/

/*------------SKILLS--------------*/

.skills {
	background-color: #dedede;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.skills ul{
	list-style-type: none;
}

/*------------Portofolio and Works-------*/


.portfolio img {
	height: 250px;
	display: block;
	margin: 0 auto;
}

.github-info {
	width: 50%;
	margin: 0 auto;
}

.github-black {
	background: url(../img/github-black.png);
}

.github-black:hover {
	background: url(../img/github-gray.png);
}

/*----------------Contact-------------------*/

.contact {
	background: #dedede;
	width: 100%;
}

.email {
	padding-top: 2%;
	text-align: center;
}

a {
	text-decoration: none;
	color: #5d5d5d;
}

a:hover{
	color: #b3b3b3;
}

/*-------------Media Query----------------*/

@media only screen and (max-width: 480px) {
	.item, 
	.text,
	.description {
		width: 100%;
	}

	.intro {
		background-image: none;
		background-color: teal;
		height: auto;
	}
}

