body {
	font-family: 'Raleway', sans-serif;
}

#intro {
	width: 100%;
	background-image: url("../img/penguin.jpg");
	background-position: 20%;
	height: 50.25rem;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
}

.text {
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
	font-size: 2em;
	width: 75%;
}

.greetings {
	font-family: 'Lobster Two', cursive;	
	font-size: 5em;
	padding-top: 10% ;
	/*border: black solid;*/
}

.name {
	font-family: 'Lobster Two', cursive;	
	font-size: 3em;
	font-style: italic;
	margin-bottom: 2%;
	/*border: black solid;*/
}

/*------SOCIAL BUTTONS-------*/
.social {
	width: 100%;
	margin-top: 2%;
	text-align: center;
}
.social-buttons li {
	display: inline;
}

.social-buttons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px;
	vertical-align: middle;
}

.github {
	background: url(../img/social-icons/github.png);
}

.github:hover {
	background: url(../img/social-icons/github1.png);
}

.twitter {
	background: url(../img/social-icons/twitter.png);
}

.twitter:hover {
	background: url(../img/social-icons/twitter1.png);
}
.linkedin {
	background: url(../img/social-icons/linkedin.png);
}

.linkedin:hover {
	background: url(../img/social-icons/linkedin1.png);
}

.tumblr {
	background: url(../img/social-icons/tumblr.png);
}

.tumblr:hover {
	background: url(../img/social-icons/tumblr1.png);
}

.google {
	background: url(../img/social-icons/google.png);
}

.google:hover {
	background: url(../img/social-icons/google1.png);
}


